:root {
    --color-primary: #895D47;
    --color-secondary: #B18068;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 20px;
    --padding: 10px;
  
    --box-shadow: 0 4px 8px var(--color-secondary);
    --color-boxbg: rgb(200, 196, 196);
  }

 .head-sec{
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    
    
 }

 .logoname{
    font-size: 60px;
    color: var(--color-white);
    margin-left: 20px;

 }

 .head-icons{
    font-size: 20px;
    color: var(--color-white);
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    
 }

 .notification{
    margin: 10px 10px;
 }

 .profile{
    margin: 10px 10px;
 }

.sidebar{
    position: fixed;
    width: 250px;
    margin-top: 0px;
    height: 100%;
    background-color: var(--color-primary);
    
}

.text{
    color: var(--color-white);
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

ul li{
    list-style: none;
    line-height: 60px;
    margin: 25px 10px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: -20px;
    width: 200px;
    
}
ul{
    align-items: center;
    justify-content: center;
}
  
ul li a{
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    padding-right: -20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-right: 10px;
    margin-right: 20px;
    border-left: 6px solid transparent;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    
}

ul li a:hover{
    background-color: var(--color-secondary);
    border-left-color: var(--color-white);
    color: black;
    transition: 0.5s all linear;

}


.main-content{
    margin-top: 0px;
    margin-left: 320px;
    float:left;

}

.main-card{
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid black;
    width: 1160px;
    height: 520px;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    background: rgb(200, 196, 196);
}

.profile img{
    width: 100px;
    height: 100px;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.create-profile{
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    height: fit-content;
    border: 1px solid var(--color-primary);
    
}

.create-profile label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.create-profile input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);

}

.create-profile textarea{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
}

button{
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}
.create-profile-pic{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    height: fit-content;
    border: 1px solid var(--color-primary);
    margin-left: 700px;
    width: 300px;
    height: 300px;

}

.create-profile-pic label{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}

.create-profile-pic input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);

}

.create-profile-pic button{
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 100px;
}