<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>

    <link rel="stylesheet" href="http://localhost/Timberly/public/customer/styles/sidebar.css">
    <script src="https://kit.fontawesome.com/3c744f908a.js" crossorigin="anonymous"></script>
    <script src="../scripts/sidebar.js" defer></script>
</head>
<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="../images/final_logo.png" alt="Logo" style="height: 200px; margin: 0%; padding: 0%;"  />
          
        </div>
        
        <hr>
        
        <nav>
            <ul >
                <li><a href="http://localhost/Timberly/public/customer/customerDashboard.html"><i class="fa-solid fa-house icon"></i>Dashboard</a></li>
                <li><a href="http://localhost/Timberly/public/customer/createDoorOrder.html"><i class="fa-solid fa-chair icon"></i>Plcae Order</a></li>
                <li><a href="http://localhost/Timberly/public/customer/orderHistory.html"><i class="fa-solid fa-rectangle-list icon"></i>Orders</a></li>
                <!-- <li><a href="http://localhost/Timberly/public/customer/payment-details.html"><i class="fa-solid fa-money-check icon"></i>Payment</a></li> -->
                <!-- <li><a href="http://localhost/Timberly/public/customer/trackOrder.html"><i class="fa-solid fa-boxes-packing icon"></i>Track Order</a></li> -->
                <li class="logout"><a href="http://localhost/Timberly/config/logout.php"><i class="fa-solid fa-right-from-bracket icon"></i>Logout</a></li>
            </ul>
        </nav>
    </aside>
</body>
</html>


