<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-Pending</title>
    <link rel="stylesheet" href="pending.css">
</head>
<body>
    <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <div class="info-pic">
            <img src="/images/lumber.jpg" alt="">

        </div>

        <div class="info-items">
            <h1>Mahogani</h1>
            <p>Post No - 400</p>
            <p>Unit Price: LKR 2300</p>
            <p>Quantity: 4</p>
            <p>Length: 154 Inc</p>
            <p>Width: 54 Inc</p>
            <p>Thickness: 23 mm</p>
            <p>Total Price: LKR 8900</p>
        </m div>
    
    
    </div>
    </div>
    
    <button onclick="togglePopup()">show popup</button>

    <script src="view.js"></script>
    
    
</body>
</html>